name: Trigger auto deployment for payment-service

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/payment-service-AutoDeployTrigger-feb23a91-1806-47dd-a435-0f9c475d090d.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.PAYMENTSERVICE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.PAYMENTSERVICE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.PAYMENTSERVICE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: paymentserviceresno18.azurecr.io
          registryUsername: ${{ secrets.PAYMENTSERVICE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.PAYMENTSERVICE_REGISTRY_PASSWORD }}
          containerAppName: payment-service
          resourceGroup: res_no_18
          imageToBuild: paymentserviceresno18.azurecr.io/payment-service:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


